// Custom styles.
//设置代码颜色
#posts code {color: #FFFFF0;background-color:#000000;}

#sidebar {
			background-color:rgba(0,0,0,40%);
            background-size: cover;
            background-position:center;
            background-repeat:no-repeat;
            p,span,a{color: #87DAFF;}
}

	
body
{
	background:url(/images/custom/background.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;

}
.content {
			padding: 20px;
            border-radius: 10px;
            margin-top: 60px;
            background:rgba(255,251,240,85%) none repeat scroll !important;
         }
.header {
          background:rgba(0,0,0,100%) none repeat scroll !important;
        }
.footer {
          background:rgba(0,0,0,30%) none repeat scroll !important;
        }
.footer-inner{color:$footer-text-Color;}
.main-inner {
			width: 800px;
}

	
